<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Admin</h3>
        <strong>AD</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a routerLink="adproduct">Sản phẩm</a>
        </li>
        <li>
            <a href="#">Phụ kiện</a>
        </li>
        <li>
            <a href="#">Khách hàng</a>
        </li>
        <li>
            <a href="#">Nhà cung cấp</a>
        </li>
        <!-- <li>
                <a href="#">Contact</a>
            </li> -->
    </ul>
</nav>