<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3><a routerLink="/admin">Admin</a></h3>
        <strong>AD</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a routerLink="adproduct">Sản phẩm</a>
        </li>
        <li>
            <a routerLink="adaccessory">Phụ kiện</a>
        </li>
        <li>
            <a routerLink="adcustomer">Khách hàng</a>
        </li>
        <li>
            <a routerLink="adsupplier">Nhà cung cấp</a>
        </li>
        <li>
            <a routerLink="adworker">Nhân viên</a>
        </li>
        <!-- <li>
                <a href="#">Contact</a>
            </li> -->
    </ul>
</nav>